* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */

body {
    font-family: 'Whitney', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: #26282b;
}

.boxed {
    position: relative;
    margin: 0 auto;
    max-width: 1150px;
    height: 100%;
}

section {
    position: relative;
    width: 100%;
    height: 50vh;
    /* height: 100%; */
    padding: 50px 0px;
}

section h2 {
    text-align: center;
    color: #26282b;
}

button {
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    margin: 20px 10px;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover,
.button a:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main section p {
    line-height: 1.5em;
    font-size: 1.3em;
    font-weight: 400;
}


/* FINE COMMON */


/* HEADER */

header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: #404FED;
    height: 70px;
    line-height: 70px;
}

nav .menu {
    width: 60%;
    text-align: center;
}

nav .menu a {
    font-weight: 500;
    text-decoration: none;
    padding: 0 10px;
    color: white;
}

nav .menu a:hover {
    text-decoration: underline;
}

nav div {
    display: inline-block;
}

nav img {
    vertical-align: middle;
}

.logo,
#btn-accedi {
    width: 20%;
}

.logo {
    float: left;
}

#btn-accedi {
    text-align: right;
    float: right;
}

#btn-accedi a {
    background-color: white;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
}


/* FINE HEADER */


/* MAIN */


/* prima sezione  */

#main-banner {
    background-image: url('../img/jumbo.png');
    background-position: center;
    background-size: cover;
}

#main-banner h2 {
    padding: 30px 0;
    font-size: 3em;
    color: white;
}

#main-banner p {
    font-size: 1.4em;
    line-height: 1.6em;
    font-weight: 400;
    text-align: center;
    color: white;
}

#main-banner .wrapper {
    width: 70%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#open-app {
    background-color: #24272A;
    color: white;
}


/* fine prima sezione */

.col-img {
    width: 60%;
}

.col-txt {
    width: 40%;
    padding: 10px;
}

.col h2 {
    padding: 20px 0px;
    font-size: 40px;
    font-weight: 900;
    text-align: left;
}

.col img {
    max-width: 100%;
}

.col-left {
    float: left;
}

.col-right {
    float: right;
}


/* terza sezione */


/* quinta sezione */

.bg-grey {
    background-color: #F6F6F6;
    position: relative;
}

.bg-grey .wave {
    background-image: url('data:image/svg+xml;utf8,<svg class="wave-1hkxOo" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100" preserveAspectRatio="none"><path class="wavePath-haxJK1 animationPaused-2hZ4IO" d="M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z" fill="%23F6F6F6"></path></svg>');
    background-size: 100%;
    width: 100%;
    height: 100px;
    position: absolute;
    top: -50px;
}

#last-section {
    height: 100vh;
}

#last-section,
#last-section p,
#last-section h2 {
    text-align: center;
}

.cta-last-section {
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 50px 0px;
}

.cta-last-section button,
.bottom-footer button {
    background-color: #8EA0E1;
    color: white;
}


/* FINE MAIN */


/* FOOTER */

footer {
    padding: 50px 0px;
    background-color: #24272A;
}

footer h3,
footer h4 {
    color: #8EA0E1;
}

footer h3 {
    width: 80%;
    font-size: 2em;
}

footer h4 {
    font-weight: 600;
    padding: 0px 0px 10px 0px;
}

footer ul li {
    color: white;
    list-style: none;
    padding: 10px 0px;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.wrap-left {
    width: calc(100% / 6 * 2);
    float: left;
}

.wrap-right {
    float: left;
    width: calc(100% / 6 * 4);
}

.wrap-right div {
    display: inline-block;
    float: left;
    width: calc(100% / 4);
}

.top-footer {
    border-bottom: 2px solid #8EA0E1;
    height: 100%;
    width: 100%;
    padding: 50px 0px;
}

form {
    padding: 20px 0px;
}

select {
    background-color: #24272A;
    border: none;
    color: white;
    padding: 10px 20px 10px 0px;
}

footer .fab {
    color: white;
    font-size: 1.3em;
    padding: 0px 5px;
}

footer .fab:hover {
    color: #8EA0E1;
    cursor: pointer;
}

.bottom-footer {
    position: relative;
    width: 100%;
    line-height: 100px;
    height: 100px;
    padding: 20px 0px;
}

.bottom-footer-logo img {
    vertical-align: middle;
}

.bottom-footer-logo,
.bottom-footer-btn {
    width: 50%;
    display: inline-block;
    float: left;
}

.bottom-footer-btn button {
    float: right;
}


/* FINE FOOTER */