* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */

body {
    font-family: 'Whitney', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: #26282b;
}

.boxed {
    position: relative;
    margin: 0 auto;
    max-width: 1150px;
    height: 100%;
}

section {
    position: relative;
    width: 100%;
    height: 50vh;
    padding: 50px 0px;
}

section h2 {
    text-align: center;
    color: #26282b;
}

button {
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    margin: 20px 10px;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover,
.button a:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main section p {
    line-height: 1.5em;
    font-size: 1.3em;
    font-weight: 400;
}


/* FINE COMMON */


/* HEADER */

header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: #404FED;
    height: 70px;
    line-height: 70px;
}

nav .menu {
    width: 60%;
    text-align: center;
}

nav .menu a {
    font-weight: 500;
    text-decoration: none;
    padding: 0 10px;
    color: white;
}

nav .menu a:hover {
    text-decoration: underline;
}

nav div {
    display: inline-block;
}

nav img {
    vertical-align: middle;
}

.logo,
#btn-accedi {
    width: 20%;
}

.logo {
    float: left;
}

#btn-accedi {
    text-align: right;
    float: right;
}

#btn-accedi a {
    background-color: white;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
}


/* FINE HEADER */


/* MAIN */


/* prima sezione  */

#main-banner {
    background-image: url('../img/jumbo.png');
    background-position: center;
    background-size: cover;
}

#main-banner h2 {
    padding: 30px 0;
    font-size: 3em;
    color: white;
}

#main-banner p {
    font-size: 1.4em;
    line-height: 1.6em;
    font-weight: 400;
    text-align: center;
    color: white;
}

#main-banner .wrapper {
    width: 70%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#open-app {
    background-color: #24272A;
    color: white;
}


/* fine prima sezione */

.col-img {
    width: 60%;
}

.col-txt {
    width: 40%;
    padding: 10px;
}

.col h2 {
    padding: 20px 0px;
    font-size: 40px;
    font-weight: 900;
    text-align: left;
}

.col img {
    max-width: 100%;
}

.col-left {
    float: left;
}

.col-right {
    float: right;
}


/* terza sezione */

.bg-grey {
    background-color: #F6F6F6;
}

#last-section {
    height: 100vh;
}

#last-section,
#last-section p,
#last-section h2 {
    text-align: center;
}


/* FINE MAIN */


/* FOOTER */


/* FINE FOOTER */